{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Show Smartphones</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">nr</th>
            <th scope="col">vendor</th>
            <th scope="col">type</th>
            <th scope="col">update</th>
            <th scope="col">show</th>
            <th scope="col">delete</th>

        </tr>
        </thead>
        <tbody>
        {% for smartphone in smartphones %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ smartphone.vendor.name }}</td>
            <td>{{ smartphone.type }}</td>
            <td><a href="{{ path("app_smartphone_update",{'id':smartphone.id}) }}" class="btn btn-warning">update</a></td>
            <td><a href="{{ path("app_smartphone_show",{'id':smartphone.id}) }}" class="btn btn-info">show</a></td>
            <td><a href="{{ path("app_smartphone_delete",{'id':smartphone.id}) }}" class="btn btn-danger">delete</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("app_smartphone_create") }}" class="btn btn-dark">Insert</a>

</div>
{% endblock %}
