{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1>{{ smartphone.type }}</h1>

                {% if smartphone.picture %}
                    <img src="{{ asset('uploads/' ~ smartphone.picture) }}" alt="{{ smartphone.type }}" class="img-fluid w-50 mb-3">
                {% endif %}

                <h3>€ {{ smartphone.price }}</h3>

                <p>{{ smartphone.description }}</p>

                <a href="{{ path('app_home') }}" class="btn btn-dark">Back</a>

            </div>
        </div>
    </div>
{% endblock %}
